/* @media (min-width: 720px) {
table{
    border: 1px solid #eeeeee;
    box-shadow: 12px 12px 22px grey;
}
}

@media (max-width: 720px) {
    #tableUsers {
        margin-left: 50px; 
    }
    table{
        padding: 50px;
    }
    .table-responsive-sm{
        width:min-content;
    }
    } */
#tableUsers{
    border: 1px solid #eeeeee;
    box-shadow: 12px 12px 22px grey;
    margin-top: 20px;
    margin-bottom: 50px;
}