#btnResetPassword{
    border:none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
  }
  #btnResetPassword:hover{
    background: white;
    border: 1px solid;
    color: black;
  }